#ignore object files
*.o

#ignore temporary files
*~

#ignore core dumps
*.core

#ignore backup files
\#*

#ignore test and game binary
test
game

#ignore Makefiles
Makefile

#ignore build directory
build
